<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kgc.dao.OrderMapper">

    <insert id="insertOrders">
        insert into order(uid,bid,date,orderNum,cid) VALUES (#{uid},#{bid},#{date},#{orderNum},#{cid});
    </insert>
</mapper>