<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kgc.dao.OrderMapper">

    <resultMap id="oderBean" type="Order">
        <id property="oid" column="oid"/>
        <result property="uid" column="uid"/>
        <result property="bid" column="bid"/>
        <result property="createdate" column="createdate"/>
        <result property="state" column="state"/>
        <result property="orderNum" column="orderNum"/>
        <result property="cid" column="cid"/>
        <collection property="cars" ofType="Car">
            <id property="cid" column="cid"/>
            <result property="cname" column="cname"/>
            <result property="cprice" column="cprice"/>
            <result property="cleavel" column="cleavel"/>
            <result property="cvariety" column="cvariety"/>
            <result property="cstock" column="cstock"/>
            <result property="cmin" column="cmin"/>
            <result property="cmax" column="cmax"/>
            <result property="cimage" column="cimage"/>
            <result property="cUser" column="cUser"/>
            <result property="cBusiness" column="cBusiness"/>
            <result property="cState" column="cState"/>
        </collection>
    </resultMap>

    <insert id="insertOrders">
        insert into `order`(`uid`,`bid`,`createdate`,`orderNum`,`cid`) VALUES (#{uid},#{bid},#{createdate},#{orderNum},#{cid});
    </insert>

    <select id="selectOrder" resultMap="oderBean">
         SELECT *FROM `order` t1 LEFT JOIN `car` t2 ON t1.uid=#{uid} =t2.cUser
    </select>
</mapper>