<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kgc.dao.UserMapper">
    <select id="selectAll" resultType="User">
        SELECT * FROM user;
    </select>

    <select id="selectByPhone" resultType="User">
        SELECT * from user WHERE uphone = #{uphone};
    </select>

    <select id="selectUser" resultType="User">
        SELECT u.uanme,u.upwd,u.uphone from user AS u where u.uphone=#{uphone}
        <if test="upwd!=null">
            and u.upwd=#{upwd}
        </if>
    </select>

    <insert id="insertUser">
        insert into user(uname,upwd,uphone) values (#{uphone},#{upwd},#{uphone});
    </insert>
</mapper>